@model CryptographyEx.Models.Password

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Password</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlainTextPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlainTextPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HashedPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HashedPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HashedSaltedPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HashedSaltedPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BcryptPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BcryptPassword)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
