@model CryptographyEx.Models.Password

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Password</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlainTextPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlainTextPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HashedPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HashedPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HashedSaltedPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HashedSaltedPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BcryptPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BcryptPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
